body {
/*   font-family: "Roboto", sans-serif; */
  font-family: 'Ubuntu', sans-serif;
  
}


h1 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.portfolio-item {
  margin-bottom: 30px;
}
footer {
  background-color: #f8f9fa;
  padding: 20px 0;
}

.logo1{
  color: orangered;
}

.logo {
  font-style: oblique;
  color: orange;
  font-size: xx-large;
}
.head1 {
  color: black;
}

/* .info {
  padding-top: 50px;
} */

.info button {
  border-radius: 20px;
  padding-inline: 10px;
  border: none;
  color: rgba(255, 0, 0, 0.884);
  font-weight: bold;
}

/* .tel {
  padding-top: 20px;
  margin-right: 100px;
}
 */
.tel span {
  font-weight: bold;
  color: yellow;
}

header {
   position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
  overflow: hidden; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 100%;
}
header img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: blur(7px);
}
header .container {
  position: relative;
  z-index: 1;
  text-align: center;
}

#about{
  padding-top: 50px;
}

.abt-img img {
  border-radius: 30%;
  margin-left: 5%;
}

.logo1 {
  font-size: larger;
  font-weight: bold;
  font-style: oblique;
}
.learn-more {
  font-size: larger;
  text-decoration: solid;
}

.project-pic img {
  box-shadow: 4px 4px 8px;
  border-radius: 10%;
}

.project-pic1 img {
  box-shadow: 4px 4px 8px;
  margin-top: 20px;
  border-radius: 10%;
}



.log1 {
  font-size: xx-large;
  color: black;
}

.container-contact {
  font-weight: bold;
}

.logo {
  color: orange;
  font-size: xx-large;
  font-weight: bold;
  text-shadow: 1px 1px;
}

.container-contact{
  color: white;
}





/* Media Query for Mobile Devices */
@media (max-width: 768px) {
      .navbar {
        display: flex;
        flex-wrap: nowrap;
    }

    .navbar-collapse {
        flex-grow: 1;
        justify-content: flex-end;
    }
  #projects .portfolio-item {
    flex-direction: column;
    text-align: center;
  }

  #projects .project-pic,
  #projects .project-pic1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #projects .project-pic img,
  #projects .project-pic1 img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
  }

  #projects .portfolio-item h4 {
    margin-top: 20px;
  }
}


.navbar-brand {
    white-space: nowrap; 
}

.navbar-toggler {
    margin-left: auto;
    position: sticky;
    top: 0; 
}
.t1{
  color: #6c757d;
}


